# 2

In [3]:
import numpy as np

n = 30
m = 4

arr = np.random.randint(0, 100, n*m)
arr = np.reshape(arr, (30, 4))
arr

array([[65, 66, 89, 63],
       [34, 26,  6, 62],
       [81, 40, 63, 30],
       [89, 13, 37, 62],
       [74, 65, 51, 85],
       [19, 85, 96,  4],
       [28, 63, 46,  1],
       [24, 99, 64, 84],
       [96, 59, 33, 61],
       [94, 25, 43,  6],
       [13, 99, 49, 59],
       [80, 35, 63, 21],
       [43, 35, 81, 33],
       [71, 83, 20, 98],
       [44, 47, 46, 14],
       [ 8, 21, 82, 22],
       [34, 19, 53, 55],
       [77, 36,  6, 29],
       [42, 92, 44, 53],
       [61, 99, 29, 60],
       [36, 80, 55,  0],
       [14, 22, 89, 15],
       [99, 57, 35, 97],
       [75, 38, 29, 37],
       [40, 75, 40, 48],
       [93, 63, 90, 15],
       [11, 38, 82, 63],
       [42,  7, 99,  9],
       [75, 72, 32, 74],
       [43, 80,  9, 66]])

In [42]:
vector_sizes = np.apply_along_axis(np.linalg.norm, 1, arr)
vector_sizes

array([143.0769024 ,  75.57777451, 114.1490254 , 115.33863186,
       139.7390425 , 129.68423189,  82.88546314, 146.72763884,
       132.31402042, 106.51760418, 125.90472588, 109.7041476 ,
       103.55674773, 148.10131667,  80.3554603 ,  87.82368701,
        85.73797292,  90.01111043, 122.36421045, 134.02611686,
       103.5422619 ,  93.94679345, 153.89606883,  96.32756615,
       105.49407566, 144.71696514, 110.71585252, 108.14342329,
       131.5636728 , 112.63214461])

In [43]:
arr[vector_sizes>=np.sort(vector_sizes)[-5]]

array([[65, 66, 89, 63],
       [24, 99, 64, 84],
       [71, 83, 20, 98],
       [99, 57, 35, 97],
       [93, 63, 90, 15]])

# 3

In [64]:
import dask.array as da
import h5py
import numpy as np
import pandas

f = h5py.File('random.hdf5')
[item for item in f]

['data_set_1']

In [67]:
data = da.from_array(f['data_set_1'], chunks=(5000, 5000))
data

dask.array<array, shape=(1000, 100000), dtype=float64, chunksize=(1000, 5000), chunktype=numpy.ndarray>

In [ ]:
data_mean = data.mean()

data[len(data[data > data_mean]) > 600].count().compute()