In [129]:
import dask.dataframe as dd
accounts = dd.read_csv("data/accounts.*.csv", dtype={'amount': 'float64'})
        
filt = accounts[accounts['amount'] < 1500]
filt = filt[filt['amount'] > 1000]
filt["id"].groupby(by=filt["id"]).count().idxmax().compute()

485

In [130]:
# Только код, который выше
# filt["id"].groupby(by=filt["id"]).count().idxmax().visualize()

In [131]:
filt.loc[filt["id"] == 238].count().compute()

id        29665
names     29665
amount    29665
dtype: int64

In [132]:
filt.groupby(by=filt["id"]).count().sort_values("amount").compute()

     names  amount
id
435      1       1
82       1       1
167      1       1
346      1       1
198      2       2
..     ...     ...
15   24063   24063
398  26132   26132
367  29052   29052
238  29665   29665
485  67414   67414

[127 rows x 2 columns]

In [133]:
dir(filt.groupby(by=filt["id"]))

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_aca_agg',
 '_cum_agg',
 '_groupby_kwargs',
 '_meta',
 '_meta_nonempty',
 '_shuffle',
 '_slice',
 '_token_prefix',
 'agg',
 'aggregate',
 'amount',
 'apply',
 'corr',
 'count',
 'cov',
 'cumcount',
 'cumprod',
 'cumsum',
 'dropna',
 'first',
 'get_group',
 'group_keys',
 'id',
 'idxmax',
 'idxmin',
 'index',
 'last',
 'max',
 'mean',
 'min',
 'names',
 'obj',
 'observed',
 'prod',
 'rolling',
 'size',
 'sort',
 'std',
 'sum',
 'transform',
 'var']

In [134]:
new = new[new["amount"] < 1500]
new.groupby(by=new["id"]).size().compute()

id
2         32
3          6
4      13069
10      5774
15     24063
       ...
82         1
131        3
147        8
346        1
435        1
Length: 127, dtype: int64

In [135]:
new.groupby(by=new["id"]).count().idxmax().compute()

amount    485
names     485
dtype: int64