Задание 1. заменить все пропущенные числовые значения на средние значения для представителей данного класса и пола (не выполнять операцию, если неизвестен пол и возраст)

In [116]:
import pandas as pd

df = pd.read_csv('titanic.csv')
grouped = df.groupby(['Pclass', 'Sex']).mean()

df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [81]:
grouped #как видно, пропуски числовых значений только в age

            PassengerId  Survived        Age     SibSp     Parch        Fare
Pclass Sex
1      0     455.729508  0.368852  41.281386  0.311475  0.278689   67.226127
       1     469.212766  0.968085  34.611765  0.553191  0.457447  106.125798
2      0     447.962963  0.157407  30.740707  0.342593  0.222222   19.741782
       1     443.105263  0.921053  28.722973  0.486842  0.605263   21.970121
3      0     455.515850  0.135447  26.507589  0.498559  0.224784   12.661633
       1     399.729167  0.500000  21.750000  0.895833  0.798611   16.118810

In [89]:
indexes = grouped.index.to_list()
for index in indexes:
    filling = grouped.loc[index]['Age']
    df['Age'][df['Age'].isnull() & df['Sex']==index[1] & df['Pclass']==index[0]] = filling

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [73]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [95]:
#упрощенная версия

df = pd.read_csv('titanic.csv')
grouped = df.groupby(['Pclass']).mean()
indexes = grouped.index.to_list()
for index in indexes:
    filling = grouped.loc[index]['Age']
    df['Age'][df['Age'].isnull() & df['Pclass']==index] = filling

<ipython-input-95-a28a22b11ae3>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][df['Age'].isnull() & df['Pclass']==index] = filling

In [97]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             11
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

В массиве random.hdf5 посчитать долю значений отклоняющихся более чем на 3 станд.отклонения с помощью даск

In [115]:
import h5py
import dask.array as da

data = h5py.File('random.hdf5', 'r')
data = da.array(data['dataset'])
(data[data < da.std(data)].sum()+data[data > da.std(data)].sum()).compute()

0.0